<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All operating units
    </h1>

    <a href="/operating_units/new" class="btn btn-block btn-outline-secondary">
      Add a new operating unit
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Operating unit
        </th>

        <th>
          Vice president
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @operating_units.each do |operating_unit| %>
      <tr>
        <!-- Display operating_unit.id start -->
        <td>
          <%= operating_unit.id %>
        </td>
        <!-- Display operating_unit.id end -->

        <!-- Display operating_unit.operating_unit start -->
        <td>
          <%= operating_unit.operating_unit %>
        </td>
        <!-- Display operating_unit.operating_unit end -->

        <!-- Display operating_unit.vice_president_id start -->
        <td>
          <%= operating_unit.vice_president_id %>
        </td>
        <!-- Display operating_unit.vice_president_id end -->

        <!-- Display operating_unit.created_at start -->
        <td>
          <%= time_ago_in_words(operating_unit.created_at) %> ago
        </td>
        <!-- Display operating_unit.created_at end -->

        <!-- Display operating_unit.updated_at start -->
        <td>
          <%= time_ago_in_words(operating_unit.updated_at) %> ago
        </td>
        <!-- Display operating_unit.updated_at end -->

        <td>
          <a href="/operating_units/<%= operating_unit.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
