<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Operating unit #<%= @operating_unit.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/operating_units" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/operating_units/<%= @operating_unit.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit operating unit
        </a>
      </div>

      <div class="col">
        <a href="/delete_operating_unit/<%= @operating_unit.id %>" class="btn btn-block btn-outline-secondary">
          Delete operating unit
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Operating unit
      </dt>
      <dd>
        <%= @operating_unit.operating_unit %>
      </dd>

      <dt>
        Vice president
      </dt>
      <dd>
        <% if @operating_unit.vice_president.present? %>
          <a href="/users/<%= @operating_unit.vice_president_id %>">
            <%= @operating_unit.vice_president.username %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@operating_unit.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@operating_unit.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "operating_unit_templates/operating_unit_business_units" %>
  </div>
</div>
