<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Business unit #<%= @business_unit.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/business_units" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/business_units/<%= @business_unit.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit business unit
        </a>
      </div>

      <div class="col">
        <a href="/delete_business_unit/<%= @business_unit.id %>" class="btn btn-block btn-outline-secondary">
          Delete business unit
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Business unit
      </dt>
      <dd>
        <%= @business_unit.business_unit %>
      </dd>

      <dt>
        Director
      </dt>
      <dd>
        <% if @business_unit.director.present? %>
          <a href="/users/<%= @business_unit.director_id %>">
            <%= @business_unit.director.username %>
          </a>
        <% end %>
      </dd>

      <dt>
        Operating unit
      </dt>
      <dd>
        <% if @business_unit.operating_unit.present? %>
          <a href="/operating_units/<%= @business_unit.operating_unit_id %>">
            <%= @business_unit.operating_unit.operating_unit %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@business_unit.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@business_unit.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "business_unit_templates/business_unit_programs" %>
  </div>
</div>
