<% if @action_item.errors.any? %>
  <% @action_item.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit action item #<%= @action_item.id %>
</h1>

<hr>

<form action="/update_action_item/<%= @action_item.id %>" method="post">


  <div class="form-group">
    <label for="actionee_id">
      Actionee
    </label>

    <%= select_tag(:actionee_id, options_from_collection_for_select(User.all, :id, :username, @action_item.actionee_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="action_item">
      Action item
    </label>

    <input type="text" id="action_item" name="action_item" class="form-control" value="<%= @action_item.action_item %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @action_item.description %></textarea>
  </div>

  <div class="form-group">
    <label for="deadline">
      Deadline
    </label>

    <input type="text" id="deadline" name="deadline" class="form-control" value="<%= @action_item.deadline %>">
  </div>

  <div class="form-group">
    <label for="status">
      Status
    </label>

    <input type="text" id="status" name="status" class="form-control" value="<%= @action_item.status %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update action item
  </button>
</form>

<hr>

<a href="/action_items">
  Go back
</a>
