<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Action item #<%= @action_item.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/action_items" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @action_item.sender %>
          <a href="/action_items/<%= @action_item.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit action_item
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @action_item.sender %>
          <a href="/delete_action_item/<%= @action_item.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete action_item
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Assigner
      </dt>
      <dd>
        <% if @action_item.sender.present? %>
          <a href="/users/<%= @action_item.assigner_id %>">
            <%= @action_item.sender.username %>
          </a>
        <% end %>
      </dd>

      <dt>
        Actionee
      </dt>
      <dd>
        <% if @action_item.recipient.present? %>
          <a href="/users/<%= @action_item.actionee_id %>">
            <%= @action_item.recipient.username %>
          </a>
        <% end %>
      </dd>

      <dt>
        Action item
      </dt>
      <dd>
        <%= @action_item.action_item %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @action_item.description %>
      </dd>

      <dt>
        Deadline
      </dt>
      <dd>
        <%= @action_item.deadline %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @action_item.status %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@action_item.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@action_item.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "action_item_templates/action_item_comments" %>
  </div>
</div>
