<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All programs
    </h1>

    <a href="/programs/new" class="btn btn-block btn-outline-secondary">
      Add a new program
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "program_templates/programs_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Program
        </th>

        <th>
          Program manager
        </th>

        <th>
          Business unit
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @programs.each do |program| %>
      <tr>
        <td>
          <%= program.id %>
        </td>

        <td>
          <%= program.program %>
        </td>

        <td>
          <% if program.program_manager.present? %>
            <a href="/users/<%= program.program_manager.id %>">
              <%= program.program_manager.username %>
            </a>
          <% end %>
        </td>

        <td>
          <% if program.business_unit.present? %>
            <a href="/business_units/<%= program.business_unit.id %>">
              <%= program.business_unit.business_unit %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(program.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(program.updated_at) %> ago
        </td>

        <td>
          <a href="/programs/<%= program.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @programs, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
