<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Program #<%= @program.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/programs" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/programs/<%= @program.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit program
        </a>
      </div>

      <div class="col">
        <a href="/delete_program/<%= @program.id %>" class="btn btn-block btn-outline-secondary">
          Delete program
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Program
      </dt>
      <dd>
        <%= @program.program %>
      </dd>

      <dt>
        Program manager
      </dt>
      <dd>
        <% if @program.program_manager.present? %>
          <a href="/users/<%= @program.program_manager_id %>">
            <%= @program.program_manager.username %>
          </a>
        <% end %>
      </dd>

      <dt>
        Business unit
      </dt>
      <dd>
        <% if @program.business_unit.present? %>
          <a href="/business_units/<%= @program.business_unit_id %>">
            <%= @program.business_unit.business_unit %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@program.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@program.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "program_templates/program_agile_teams" %>
  </div>
</div>
